{% extends "base/base.html" %}
{% load static %}
{% block titulo %} {{noticia.titulo}} {% endblock %}
{% block page_header %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown text-white text-shadow">Noticias</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="seccion-link" href="{% url 'index:index' %}">Página de Inicio</a></li>
                    <li class="breadcrumb-item"><a class="seccion-link" href="{% url 'noticia:noticias' %}">Noticias</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">{{noticia.titulo}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
{% endblock %}
{% block contenido %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp text-center" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden pt-5 pe-0">
                    {% if noticia.imagen %}
                        <img class="img-fluid w-100" src="{{ noticia.imagen.url }}" alt="{{noticia.slug}}">
                    {% else %}
                        <img class="img-fluid w-100" src="" alt="{{noticia.slug}}">
                    {% endif %}
                </div>
                <p class="my-3"><b>{{noticia.epigrafe}}</b></p>
                <div class="text-muted border-top pt-4">
                    <small class="me-3"><i class="fa fa-user text-primary me-2"></i>{{noticia.autor_a}}</small>
                    <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>{{noticia.fecha_creacion}}</small>
                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s" style="text-align: justify;">
                <div class="section-header text-center">
                    <h1 class="display-6 mb-4">{{noticia.titulo}}</h1>
                </div>
                {{noticia.cuerpo|safe}}
            </div>
        </div>
    </div>
</div>
{% endblock %}