{% extends "base/base.html" %}
{% load static %}
{% block titulo %}Noticias{% endblock %}
{% block page_header %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown text-white text-shadow">Noticias</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="seccion-link" href="{% url 'index:index' %}">Página de Inicio</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Noticias</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
{% endblock %}
{% block contenido %}
    <!-- Blog Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Últimas noticias</h1>
            </div>
            <div class="row g-4">
                <div class="row g-4" id="noticias-adicionales-container">
                </div>
                {% if cant_noticias > 3 %}
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                    <a class="btn btn-primary rounded-pill py-3 px-5"  id="cargar-noticias-btn" href="#" data-offset="9">Cargar noticias anteriores</a>
                </div>
                {% endif %}
                <div class="col-12 text-center mt-3" id="no-more-noticias" style="display: none;">
                    <div class="row justify-content-center">
                      <div class="col-4">
                        <div class="alert alert-success" role="alert">
                          No hay noticias para mostrar
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cargar-noticias.js' %}"></script>
{% endblock %}
