{% extends "base/base.html" %}
{% load static %}
{% block titulo %} {{receta.nombre}} {% endblock %}
{% block page_header %}
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown text-white text-shadow">{{receta.nombre}}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="seccion-link" href="{% url 'index:index' %}">Página de Inicio</a></li>
                    <li class="breadcrumb-item"><a class="seccion-link" href="{% url 'producto:productos' %}">Productos</a></li>
                    <li class="breadcrumb-item"><a class="seccion-link" href="{% url 'producto:recetas' %}">Recetas saludables</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">{{receta.nombre}}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenido %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 wow fadeInUp justificar" data-wow-delay="0.5s">
                <div class="section-header text-center">
                    <h1 class="display-5 mb-4">Receta</h1>
                </div>
                {% if receta.cantidad_personas|default_if_none:'' %}
                    <p class="mb-3"><b>Cantidad de personas: </b> {{receta.cantidad_personas }}</p>
                {% endif %}

                <p class="mb-3"><b>Ingredientes:</b> <br> {{receta.ingredientes|linebreaksbr }}</p>
                <p><b>Elaboración:</b></p>
                <div>
                  {{ receta.elaboracion|safe }}
                </div>
                <div>
                  {{ receta.extra|safe }}
                </div>
            </div>
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    {% if receta.imagen %}
                        <img class="img-fluid w-100" src="{{ receta.imagen.url }}" alt="{{receta.slug}}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}