{% extends "base/base.html" %}
{% load static %}
{% block titulo %} Contáctanos{% endblock %}
{% block css %}{% endblock %}
{% block page_header %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown text-white text-shadow" translate="no">Error 404</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="seccion-link" href="{% url 'index:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page" translate="no">Error 404</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
{% endblock %}
{% block contenido %}
    <!-- 404 Start -->
    <div class="container-xxl py-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">404</h1>
                    <h1 class="mb-4">Página no encontrada</h1>
                    <p class="mb-4">¡Lo sentimos, la página que has buscado no existe en nuestro sitio web!</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'index:index' %}">Volver a la página de inicio</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->
{% endblock %}