{% extends "base/base.html" %}
{% load static %}
{% block titulo %} Servicios{% endblock %}
{% block page_header %}
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown text-white text-shadow">Servicios</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="seccion-link" href="{% url 'index:index' %}">Página de Inicio</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Servicios</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenido %}


    <div class="container-xxl py-2">
        {% for servicio in servicios %}
        <div class="container my-5">

            <div class="section-header text-center mx-auto mb-5 wow fadeInUp justificar" data-wow-delay="0.1s" style="max-width: 1100px;">
                <h1 class="display-5 mb-3">{{servicio.nombre}}</h1>
                <p>{{servicio.descripcion|safe}}</p>
            </div>
            <div class="row g-5 justify-content-center">
                {% if servicio.imagen %}
                    <img class="img-fluid w-75" src="{{servicio.imagen.url }}" alt="{{servicio.nombre}}">
                {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>



{% endblock %}
{% block js %}
<script src="{% static 'js/validacion-form.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
    {% for m in messages %}
        {{m}}
        <script>
            Swal.fire({
                "title": "Felicitaciones",
                "text": "{{m}}",
                "icon": "success"
            })
        </script>
    {% endfor %}
{% endif %}
{% endblock %}