{% extends "base/base.html" %}
{% load static %}
{% block titulo %} Beneficios  {% endblock %}
{% block css %}{% endblock %}
{% block page_header %}
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Productos</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="{% url 'index:index' %}">Inicio</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Contáctanos</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}
{% block contenido %}
{% endblock %}