{% extends "base/base.html" %}
{% load static %}
{% block titulo %} {{ producto.nombre}} {% endblock %}
{% block page_header %}
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">{{ producto.nombre}}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="{% url 'index:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="{% url 'producto:productos' %}">Productos</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">{{ producto.nombre}}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenido %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    {% if producto.imagen %}
                        <img class="img-fluid w-100" src="{{ producto.imagen.url }}" alt="{{producto.slug}}">
                    {% else %}
                        <img class="img-fluid w-100" src="" alt="{{producto.slug}}">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="section-header text-center">
                    <h1 class="display-5 mb-4">{{producto.nombre}}</h1>
                </div>
                <p class="mb-4">{{producto.descripcion}}</p>
                <a href="{% url 'producto:beneficio_producto' producto.slug %}" class="btn btn-primary me-2 rounded-pill">Beneficios</a>
                <a href="{% url 'producto:receta_producto' producto.slug %}" class="btn btn-secondary rounded-pill">Recetas saludables</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}