{% extends "base/base.html" %}
{% load static %}
{% block titulo %} Productos {% endblock %}
{% block page_header %}
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown text-white text-shadow">Productos</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-shadow seccion-link" href="{% url 'index:index' %}">Página de Inicio</a></li>
                    <li class="breadcrumb-item active text-white text-shadow" aria-current="page">Productos</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenido %}
{% if productos.count != 0 %}
    <div class="container-xxl py-5" id="productos">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end justify-content-between">
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="buscar-item" placeholder="Buscar producto">
                        <button class="btn btn-primary" id="btn-buscar-item" type="button">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="row g-0 gx-5 justify-content-end">
                <div class="col-lg-4">
                    <div class="alert  alert-danger d-none text-center py-2 mb-3" role="alert" id="alerta-item-no-encontrado">
                        El producto no fue encontrado.
                    </div>
                </div>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.3s">
                {% for producto in productos %}
                    <div class="wow fadeInUp position-relative p-5 mt-4" data-wow-delay="0.3s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                {% if producto.imagen %}
                                    <img class="img-fluid w-100" src="{{ producto.imagen.url }}" alt="{{producto.slug}}">
                                {% endif %}
                            </div>
                            <div class="p-3">
                                <a class="d-block h5 mb-2 text-center capitalize" href="{% url 'producto:detalle_producto' producto.slug %}">{{producto.nombre}}</a>
                                <div class="descripcion justificar">
                                    {{producto.descripcion|safe}}
                                </div>

                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="{% url 'producto:beneficio_producto' producto.slug %}"><i class="fa fa-eye text-primary me-2"></i>Ver beneficios</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href="{% url 'producto:receta_producto' producto.slug %}"><i class="fas fa-apple-alt text-primary me-2"></i>Recetas</a>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12 text-center my-5 pt-3">
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="alert alert-success" role="alert">
              No hay ningún producto disponible para mostrar.
            </div>
          </div>
        </div>
    </div>
{% endif %}

<div class="d-flex justify-content-center align-items-center mb-5">
    <a class="btn btn-primary rounded-pill py-3 px-4 wow fadeInUp" href="{% url 'producto:recetas' %}" data-wow-delay="0.4s">Ver recetas saludables</a>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/buscar-item.js' %}"></script>
<script src="{% static 'js/limitar-caracteres.js' %}"></script>
{% endblock %}