




body {
    background-color:  #fff
;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);

}
.formulario{
    background: #FBB02D;
    border-radius: 2rem;
}
.contenedor{
    border-radius: 0.8rem;
    background-color: #e35300;
}
.mapa{
    border-radius: 2%;
}
h1,h3,p,h4,small,label{
    color: white;
}

